$main-clr-bg: rgb(15, 119, 15);

$shape-border-radius: 200px;

$padding-header: 1.6rem;

$fs-small: 0.9rem;
$fs-400: 1.3rem;
$fs-500: 1.75rem;
$fs-600: 2rem;
$fs-800: 2.5rem;
$fs-900: 3rem;
$fs-heading: 5rem;

$border-nav: 2px solid rgba(0, 0, 0, 0.4);

$clr-main-bg: hsl(56, 100%, 97%);

$clr-text-400: hsl(135, 38%, 31%);
$clr-text-500: hsl(134, 61%, 21%);
